# Ignorar archivos .log
*.log

# Ignorar archivos temporales de Python
*.pyc
__pycache__/

# Ignorar archivos de configuración de tu entorno
.venv
venv/



# Ignorar la carpeta 'data' dentro de 'scraping'
data/
*.json


